---
name: "Nix Build"
"on": [push, pull_request]
jobs:
  pre_build:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v3.4.1
        with:
          concurrent_skipping: 'same_content'
          skip_after_successful_duplicate: 'true'
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'
  build:
    needs: pre_build
    if: ${{ needs.pre_build.outputs.should_skip != 'true' }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        nixpkgs:
          - pinned
          - release-21.11
          - release-21.05
          - nixpkgs-unstable
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Install nix
        uses: cachix/install-nix-action@v16
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Link to bifrost binary cache on cachix.org
        uses: cachix/cachix-action@v10
        with:
          name: bifrost
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Lock the version of nixpkgs specified by the matrix
        run: |
          if "${{ matrix.nixpkgs }}" != "pinned"; then
            nix flake lock --override-input nixpkgs \
              "nixpkgs/${{ matrix.nixpkgs }}"
          fi
          nix flake metadata

      - name: Check for well-formed flake
        run: |
          nix flake check

      - name: Build for default python3
        run: |
          nix build --print-build-logs .#bifrost-py3

      - name: Build with enable-debug for python3, if pinned nixpkgs
        if: matrix.nixpkgs == 'pinned'
        run: |
          nix build --print-build-logs .#bifrost-py3-debug

      - name: Build for python38, unless nixpkgs-unstable
        # For unstable, 3.8 packages are no longer in the build cache
        if: matrix.nixpkgs != 'nixpkgs-unstable'
        run: |
          nix build --print-build-logs .#bifrost-py38

      - name: Run Python test suite
        # Skipped during nix build because it needs network data.
        run: |
          cd test
          bash download_test_data.sh
          nix run ..#python3-bifrost -- -m bifrost.telemetry --disable
          nix run ..#python3-bifrost -- -m unittest discover

      - name: Build documentation
        run: |
          nix build --print-build-logs --out-link result-doc .#bifrost-doc

      - name: Deploy documentation to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4.2.5
        # Maybe only deploy if changes in doc/ folder?  (But some doc
        # pages generated from code, so should reflect code changes?)
        if: |
          matrix.os == 'ubuntu-latest'
          && matrix.nixpkgs == 'pinned'
          && github.event_name == 'push'
          && github.ref == 'refs/heads/master'
        with:
          branch: gh-pages
          folder: result-doc/share/doc/bifrost/html
